.btn-navy{
	color           : #FFFFFF !important;
	border-color    : #172047 !important;
	background-color: #172047 !important;
}

.btn-navy:hover,
.btn-navy:focus{
	color           : #172047 !important;
	border-color    : #FFFFFF !important;
	background-color: #FFFFFF !important;
}

.btn-navy-bd-white{
	color           : #FFFFFF !important;
	border-color    : #FFFFFF !important;
	background-color: #172047 !important;
}

.btn-navy-bd-white:hover,
.btn-navy-bd-white:focus{
	color           : #172047 !important;
	border-color    : #172047 !important;
	background-color: #FFFFFF !important;
}

.btn-cyan{
	color           : #FFFFFF !important;
	border-color    : #2BA2A8 !important;
	background-color: #2BA2A8 !important;
}

.btn-cyan:hover,
.btn-cyan:focus{
	color           : #2BA2A8 !important;
	border-color    : #FFFFFF !important;
	background-color: #FFFFFF !important;
}

.btn-cyan-bd-white{
	color           : #FFFFFF !important;
	border-color    : #FFFFFF !important;
	background-color: #2BA2A8 !important;
}

.btn-cyan-bd-white:hover,
.btn-cyan-bd-white:focus{
	color           : #2BA2A8 !important;
	border-color    : #2BA2A8 !important;
	background-color: #FFFFFF !important;
}

.btn-orange{
	color           : #FFFFFF !important;
	border-color    : #F9AB3B !important;
	background-color: #F9AB3B !important;
}

.btn-orange:hover,
.btn-orange:focus{
	color           : #F9AB3B !important;
	border-color    : #FFFFFF !important;
	background-color: #FFFFFF !important;
}

.btn-orange-bd-white{
	color           : #FFFFFF !important;
	border-color    : #FFFFFF !important;
	background-color: #F9AB3B !important;
}

.btn-orange-bd-white:hover,
.btn-orange-bd-white:focus{
	color           : #F9AB3B !important;
	border-color    : #F9AB3B !important;
	background-color: #FFFFFF !important;
}