#pinboard-form label {
    color: #848484;
    font-size: 12px;
    font-weight: normal;
}

#pinboard-form .form-group.pinboard-form {
    padding: 10px;
    background-color: #FFFFFF;
}

#pinboard-form .form-control {
    background-color: #FFFFFF;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

#pinboard-form .input-group-addon {
    color: #FFFFFF;
    background-color: #52C7D1;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

#pinboard-form textarea {
    resize: none;
}

#pinboard-form .btn {
    min-width: 150px;
}

#pinboard-form label.btn.btn-edutrax-cyan  {
    font-size: 14px;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

#pinboard-form .text-info {
    margin-top: -15px;
    margin-left: 10px;
}

.select2-container--default .select2-selection--multiple {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    border-color: #CCCCCC;
}