/* CUSTOM CSS by PIKLI */

body {
    background-color: #f5f5f5;
}

.clr {
    width: 100%;
    clear: both;
    float: none;
}

#formSearch .form-control {
    background-color: #252931;
    border-color: #252931;
    border-top-left-radius: 3333px;
    border-bottom-left-radius: 3333px;
    height: 32px;
}
#formSearch button {
    border-top-right-radius: 3333px;
    border-bottom-right-radius: 3333px;
    background-color: #252931;
    border-color: #252931;
    color: #fff;
    height: 32px;
}
.navbar {
    height: 115px;
    margin-bottom: 0;
    z-index: 10;
    border-radius: 0;
}
.navbar .navbar-brand {
    padding: 41.5px 15px;
    margin-right: 100px;
    margin-left: 35px !important;
}
.navbar-default {
    background-color: #eda740;
    border-color: #eda740;
}
.sidebar {
    width: 330px;
    background-color: #383c48;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    padding-top: 115px;
    font-family: "Avenir" !important;
    display: none;
}
.sidebar1 {
    width: 70px;
    background-color: #383c48;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    padding-right: 0;
    padding-top: 115px;
    font-family: "Avenir" !important;
}
.content {
    padding-left: 330px;
}
.bg-container {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-left: 3px solid #ccccce;
}
.header-acc {
    width: 100%;
    height: 30%;
    background-size: cover;
}
.studentSearch .btn {
    width: 120px;
    height: 37px;
    font-size: 18px;
    background-color: #53c7d1;
    border-color: #53c7d1;
    color: white;
}
.studentSearch .form-control {
    height: 37px;
    box-shadow: none;
    border-radius: 0;
}
.input-border {
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 1px 0 #d0d0d0;
    -moz-box-shadow: 0 2px 1px 0 #d0d0d0;
    -webkit-box-shadow: 0 2px 1px 0 #d0d0d0;
    -ms-box-shadow: 0 2px 1px 0 #d0d0d0;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.filterStudents {
    vertical-align: middle;
}
.filterStudents .col-lg-2 {
    padding-top: 8px;
    padding-left: 0;
}
.filterStudents button, .filterStudents select {
    border-radius: 0;
    height: 37px;
    box-shadow: none;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 #d0d0d0;
    -moz-box-shadow: 0 2px 1px 0 #d0d0d0;
    -webkit-box-shadow: 0 2px 1px 0 #d0d0d0;
    -ms-box-shadow: 0 2px 1px 0 #d0d0d0;
    border: none;
}
.filterStudents button .fa, .filterStudents select .fa {
    margin-right: 8px;
}
.studentList {
    margin-top: 30px;
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}
.studentList>.row {
    margin-right: 20px;
}
.studentList::-webkit-scrollbar {
    width: 5px;
}
.studentList::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 333px;
}
.studentList::-webkit-scrollbar-thumb {
    border-radius: 333px;
    background-color: #53c7d1;
}
.studentCard {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 #d0d0d0;
    -moz-box-shadow: 0 2px 1px 0 #d0d0d0;
    -webkit-box-shadow: 0 2px 1px 0 #d0d0d0;
    -ms-box-shadow: 0 2px 1px 0 #d0d0d0;
    position: relative;
    height: 150px;
    padding: 27px 20px;
    margin-bottom: 20px;
}
.studentCard .studentImage {
    width: 90px;
    height: 90px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.studentCard .studentImage img {
    border-radius: 333px;
    max-width: 100%
}
.studentCard .studentName {
    padding-top: 20px;
    width: 150px;
    font-size: 18px;
    float: left;
    display: inline-block;
    font-family: "Avenir"
}
.studentCard .studentName .studentSquad {
    color: #666;
    font-size: 14px;
}
.studentCard .studentCardToolbar {
    position: absolute;
    top: 5px;
    right: 5px;
}
.studentCard .studentCardToolbar a {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    padding: 6px;
    text-align: center;
}
.studentCard .studentCardToolbar a.block-info {
    background-color: #53c7d1;
}
.studentCard .studentCardToolbar a.block-danger {
    background-color: #ea4848;
}
@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir.otf);
}
body {
    overflow: hidden;
    font-family: Avenir;
}
.topbar-nav {
    background-color: #eea640;
    padding: 25px 20px;
}
.topbar-nav h2 {
    color: #fff;
    margin: 0;
    font-size: 24px;
}
.topbar-nav span {
    line-height: 25px;
}
.form-right {
    position: relative;
}
.form-right .text-search {
    width: 300px;
    float: none;
    margin-right: 50px;
}
.text-search input {
    width: 0 !important;
    background-color: black;
    visibility: hidden;
    border-color: black !important;
    border-radius: 0;
}
.text-search input.active {
    width: 100% !important;
    visibility: visible !important;
    background-color: black !important;
    border-color: black !important;
    border-radius: 20px 0 0 20px !important;
}
.text-search .input-group-addon {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    border-radius: 0 !important;
}
.text-search .input-group-addon i {
    color: #9c753c !important;
}
.text-search .input-group-addon.active {
    background-color: black !important;
    border-color: black !important;
    border-radius: 0 20px 20px 0 !important;
}
.text-search .input-group-addon.active i {
    color: #f2f6f7 !important;
}
.text-search .input-group-addon i {
    color: #f2f6f7;
}
.form-right .config {
    position: absolute;
    right: 25;
    top: 5px;
}
.config i {
    font-size: 24px;
    color: #9c753c;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #383c48;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 50px;
    font-size: 16px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #8f929b;
}
.sidebar-nav li i {
    color: #666a75;
    margin-right: 20px;
    font-size: 24px;
}
.sidebar-nav li img {
    margin-right: 10px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #eda843;
    background: #252932;
    border-right: 4px solid #eda843;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
    color: #999;
}
.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.dropdown-menu {
    display: block;
    box-shadow: none;
    border: none;
}
.datepicker:after, .datepicker:before {
    display: none;
}
.page-title h3 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}
.line-bottom {
    background-color: #eea642;
    width: 150px;
    margin: 10px auto;
    height: 3px;
}
.page-content {
    margin-top: 20px;
    overflow-y: auto;
    height: 100%;
    padding: 0 20px;
}
.page-content::-webkit-scrollbar {
    width: 5px;
}
.page-content::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 333px;
}
.page-content::-webkit-scrollbar-thumb {
    border-radius: 333px;
    background-color: #53c7d1;
}
.help .panel-default .panel-heading {
    padding: 25px 15px;
    cursor: pointer;
    background-color: #eee;
}
.help .panel-title {
    font-weight: bold;
}
.help .panel-title a {
    width: 80%;
    display: inline-block;
}
.help .panel-title a:hover, .help .panel-title a:focus {
    text-decoration: none;
}
.content-img {
    position: relative;
    top: -10px;
    padding: 10px;
    background-color: #ddd;
    color: #7c7c7c;
}
.content-img.circle {
    border-radius: 50px;
}
.panel-heading.collapsed .fa-chevron-up:before {
    content: "\f078"
}
.account-content {
    height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    margin-right: 5px;
}
.account-content::-webkit-scrollbar {
    width: 5px;
}
.account-content::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 333px;
}
.account-content::-webkit-scrollbar-thumb {
    border-radius: 333px;
    background-color: #53c7d1;
}
.header-account {
    width: 100%;
    padding: 0 .2% 0;
    background-color: #fff;
}
.header-account .header-img {
    width: 100%;
    height: 250px;
    background-image: url(../img/header.jpg);
}
.header-account .img-circle.profile_img {
    width: 10%;
    background: #fff;
    margin-left: 45%;
    z-index: 1000;
    position: inherit;
    margin-top: 50px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}
.header-account .img-circle {
    border-radius: 50%
}
.header-account img {
    vertical-align: middle;
}
.header-account .someone {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 27px;
}
.header-account .nav-pills {
    margin-left: 30px;
    width: 100%
}
.header-account .nav-pills>li>a {
    background-color: transparent;
    border-radius: 0 !important;
    height: 60px;
    color: #202020;
    font-weight: bold;
}
.header-account .nav-pills>li>a:hover {
    background-color: transparent !important;
    border-bottom: 4px solid #efa63d !important;
    color: #efa63d;
}
.header-account .nav-pills>li.active>a, .header-account .nav-pills>li.active>a:focus, .header-account .nav-pills>li.active>a:hover {
    color: #efa63d !important;
    background-color: transparent !important;
    border-bottom: 4px solid #efa63d !important;
}
.account-about-left {
    margin: 0;
    padding: 20px 0 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.account-about-left .title-left {
    margin-left: 15px;
    color: 20202;
    font-weight: bold;
}
.account-about-left .name-left {
    color: #1e1e1e;
    margin-left: 15px;
    font-size: 12px;
}
.account-about-left .value-name {
    color: #838383;
    margin-left: 15px;
    font-size: 12px;
    padding: 0 0 20px;
}
.account-about-right {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 20px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.account-about-right .title-right {
    margin-left: 15px;
    color: 20202;
    font-weight: bold;
}
.account-about-right .value-content {
    text-align: justify;
    color: #838383;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    padding: 0 0 20px;
}
.setting-account {
    margin: 0;
    width: 100%;
    background-color: #fff;
}
.setting-account .setting-title {
    padding: 20px;
    font-size: 24px;
    color: #1e1e1e;
    border-bottom: 1px solid #f5f5f5;
}
.setting-account .setting {
    padding: 20px;
}
.activities-account {
    margin: 0;
    width: 100%;
    background-color: #fff;
}
.activities-account .aktivities-title {
    padding: 20px;
    font-size: 24px;
    color: #1e1e1e;
    border-bottom: 1px solid #f5f5f5;
}
.activities-account .value-activities {
    text-align: justify;
    color: #838383;
    font-size: 12px;
    padding: 0 15px;
}
body {
    overflow: hidden;
}
.topbar-nav {
    background-color: #eea640;
    padding: 25px 20px;
}
.topbar-nav h2 {
    color: #fff;
    margin: 0;
    font-size: 24px;
}
.topbar-nav span {
    line-height: 25px;
}
.form-right {
    position: relative;
}
.form-right .text-search {
    width: 300px;
    float: none;
    margin-right: 50px;
}
.text-search input {
    background-color: black;
    border-color: black !important;
    border-radius: 20px;
}
.text-search .input-group-addon {
    background-color: black;
    border-color: black;
    border-radius: 0 20px 20px 0;
}
.text-search .input-group-addon i {
    color: #f2f6f7;
}
.form-right .config {
    position: absolute;
    right: 25;
    top: 5px;
}
.config i {
    font-size: 24px;
    color: #9c753c;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #383c48;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 50px;
    font-size: 16px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #8f929b;
}
.sidebar-nav li i {
    color: #666a75;
    margin-right: 20px;
    font-size: 24px;
}
.sidebar-nav li img {
    margin-right: 10px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #eda843;
    background: #252932;
    border-right: 4px solid #eda843;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
    color: #999;
}
.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.gallery {
    margin-top: 0;
    height: auto;
    background-color: #fff;
}
.galleryContainer {
    height: 550px;
    overflow: auto;
}
.galleryContainer::-webkit-scrollbar {
    width: 5px;
}
.galleryContainer::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 333px;
}
.galleryContainer::-webkit-scrollbar-thumb {
    border-radius: 333px;
    background-color: #53c7d1;
}
.imagegallery {
    margin-top: 0;
    height: 210px;
    background-color: #fff;
    overflow: hidden;
}
.textgallery {
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
.tetxttitle {
    font-size: 19px;
    font-weight: bold;
}
.textdate {
    font-size: 14px;
}
.body-login {
    background-color: #252932;
}
.box-login {
    height: 100%;
    margin: 0;
    background-color: #fff;
    float: none;
    padding: 40px 20px;
    border-radius: 5px;
}
.box-login h3 {
    color: #747474;
    text-align: center;
    padding-bottom: 40px;
}
.box-login h5 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}
.btn-orange {
    background-color: #eea640;
    color: #fff;
    width: 100%;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.btn-orange:hover {
    color: #fff;
    background-color: #f79408;
}
.box-login .form-control {
    margin-bottom: 40px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.footer-login {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
}
.footer-login a {
    color: #fff;
    position: relative;
    left: -15px;
    font-size: 12px;
}
.footer-login a span {
    color: #eea640;
}

@media (min-width:768px) {
    .form-right .text-search {
        float: right;
    }
    .topbar-nav span {
        padding-left: 20px;
    }
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        border-left: 4px solid #ccc;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .box-login {
        height: auto;
        margin: 8% auto;
    }
}

.gallery {
    margin-top: 20px;
    background-color: #fff;
}
.imagegallery {
    margin-top: 0;
    background-color: #fff;
}
.textgallery {
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
.tetxttitle {
    font-size: 19px;
    font-weight: bold;
}

@media (max-width:768px) {
    .filterStudents .form-control {
        margin-bottom: 10px;
    }
    .filterStudents .xspaddedLeft {
        padding-left: 15px;
    }
    .page-content {
        overflow-y: auto;
        height: 300px;
        padding: 0 20px;
    }
    .studentSearch input {
        height: 34px;
    }
    .studentSearch .btn {
        width: 80px;
        font-size: 16px;
        height: 34px;
    }
    .galleryContainer {
        height: 300px;
    }
    #sidebar-wrapper.in {
        width: 250px;
    }
    .topbar-nav {
        position: relative;
    }
    .topbar-nav .logoContainer a {
        padding-left: 45px;
        display: block;
    }
    .topbar-nav .menuToggle {
        font-size: 20px;
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        padding: 0;
    }
    .imagegallery {
        text-align: center;
    }
    .account-content {
        margin-right: -15px;
    }
    .account-about-left {
        margin: 0;
    }
    .account-about-right {
        margin: 0;
        width: 100%
    }
    .accountTab {
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .setting-account {
        width: 100%
    }
    .activities-account {
        margin: 0;
        width: 100%
    }
    .studentCard {
        background-color: #fff;
        box-shadow: 0 2px 1px 0 #d0d0d0;
        -moz-box-shadow: 0 2px 1px 0 #d0d0d0;
        -webkit-box-shadow: 0 2px 1px 0 #d0d0d0;
        -ms-box-shadow: 0 2px 1px 0 #d0d0d0;
        position: relative;
        height: 130px;
        padding: 30px 20px;
        margin-bottom: 20px;
    }
    .studentCard .studentImage {
        width: 60px;
        height: 60px;
        float: left;
        display: inline-block;
        margin-right: 10px;
    }
    .studentCard .studentImage img {
        border-radius: 333px;
        max-width: 100%
    }
    .studentCard .studentName {
        padding-top: 10px;
        font-size: 20px;
        float: left;
        display: inline-block;
        font-family: "Avenir"
    }
    .studentCard .studentName .studentSquad {
        color: #666;
        font-size: 18px;
    }
    .studentCard .studentCardToolbar {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .studentCard .studentCardToolbar a {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 18px;
        color: #fff;
        padding: 6px;
        text-align: center;
    }
    .studentCard .studentCardToolbar a.block-info {
        background-color: #53c7d1;
    }
    .studentCard .studentCardToolbar a.block-danger {
        background-color: #ea4848;
    }
}

@media (max-width:1280px) {
    .studentCard .studentImage {
        height: 75px;
        width: 75px;
    }
}

/*
    Page  : Agenda Index
*/

@media (max-width:768px) {
    .table-agenda {
        height: 300px;
    }
    .tanggal {
        width: 108%
    }
}

/* =============================================================== */

/*
    Author: Mochamad Panji Aryo Bimo
    Title : Custom / Override css
*/

.clr { float: none; clear: both; height: 1px; width: 100%; }

.btn-flat {
    border-radius: 0;
}

.footer-links {
    position: relative;
}

.login-footer {
    float: none;
    position: relative;

    margin: 0 auto;
}

.login-footer a {
    right: 0;
    bottom: 15px;
    position: absolute;

    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}

.login-footer a:first-child {
    left: 0;
}

.login-footer a span {
    color: #EEA640;
}

.login-footer a:hover span {
    text-decoration: underline;
}

/* FORM STYLES */

.main-form-wrapper {
    height: 500px;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-form-wrapper::-webkit-scrollbar{ width: 5px }
.main-form-wrapper::-webkit-scrollbar-track{ background-color: #ccc;border-radius: 333px }
.main-form-wrapper::-webkit-scrollbar-thumb{ border-radius: 333px;background-color: #53c7d1 }

/* =============================================================== */